{% extends 'layout_profile.html' %}

{% block content %}
{% load static %}

<section>
    <div class="container">
        <div class="row">
            <div class="grid_4">
                <div class="infobox-left">
                    <hr style="color:#fff; border: 1px solid #fff;">
                    <div class="profile-red">
                        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
Редактировать профиль</a>
                    </div>
                    <div class="profile-status">
                        <i class="fa fa-check" aria-hidden="true"></i> Ваш профиль полностью заполнен
                    </div>
                    <div class="profile-info">
                    <hr style="color:#fff; border: 1px solid #fff;">


                    </div>
                </div>
            </div>
            <div class="grid_8">
                <div class="visited-courses">
                    <p>Информация обо мне</p>
                    <p><img src="../{{ user.avatar }}" alt="{{ user.get_full_name }}" style="width:auto;border-radius: 20px; height: 200px;"></p>

                    <!-- <div class="no-courses">
                      <p>Нету посещённых курсов :(</p>
                    </div>
                    <br>
                    <div class="green-sq"></div> - пройденный курс
                    <div class="blue-sq"></div> - незаконченный курс -->
                    <table cellspacing="0">
                      <tr>
                        <td>Имя</td>
                        <td>{{ user.get_full_name }}</td>
                      </tr>
                      <tr>
                        <td>Пол</td>
                        <td>{{ user.get_sex_display }}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                      </tr>
                      <tr>
                        <td>Дата рождения</td>
                        <td>{{ user.birth_date }}</td>
                      </tr>
                      <tr>
                        <td>Проживание</td>
                        <td>{{ user.country }}, {{ user.city }}</td>
                      </tr>
                      <tr>
                        <td>Телефонный номер</td>
                        <td>{{ user.phone_number }}</td>
                      </tr>
                      <tr>
                        <td>Веб-страница</td>
                        <td><a href="{{ user.website_url }}">{{ user.website_url }}</a></td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="grid_12">

      </div>
    </div>
  </div>
</section>

{% endblock %}
